body
{
	color: white;
	background-color: #404040;
	font-family: 'Lato', sans-serif;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#topbar
{
	clear: both;
	background-color: #128870;
	color: white;
	padding: 10px;
	margin-top: 20px;

	height: auto;
}

#input
{
    clear: both;
	background-color: #128870;
	color: white;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
}

#wynik
{
    clear: both;
	background-color: #128870;
	color: white;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

h1
{
    text-align: center;
}

#topright
{
    text-align: right;
    padding-right: 70px;
}
